.container {
  font-size: 12pt;
}

.container .title {
  font-weight: bold;
}

.container .bar {
  line-height: 20px;
  width: 60%;
  margin-right: 10px;
  float: left;
  border: thin solid #aaa;
}

.container .progress {
  background-color: lightblue;
}

.container button {
  margin-left: 10px;
  font-size: 10pt; 
  line-height: 10pt;
  font-weight: bold;
}

.container .stop {
  background-color: pink;
}

.container .start {
  background-color: lightgreen;
}

.container .delete {
  background-color: #eee;
}